

.background {
    background-color: rgb(56, 56, 56);
}
/*
div.navbar {
    background: linear-gradient(#004aad, #cb6ce6);
    margin: 3%;
}
*/
/*
button {
    margin: 20px;
}
*/

p {
    font-family: fira
}